<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">Adiue 2014, 봄싹</h3>
        <nav>
            <ul class="nav masthead-nav">
                <li class="{{onMenuItem 'about' selectedMenuItem}}"><a href="/about.html" th:href="@{/about}">About</a></li>
                <li class="{{onMenuItem 'sessions' selectedMenuItem}}"><a href="/sessions.html" th:href="@{/sessions}">Sessions</a></li>
                <li class="{{onMenuItem 'schedule' selectedMenuItem}}"><a href="/schedule.html" th:href="@{/schedule}">Schedule</a></li>
            </ul>
        </nav>
    </div>
</div>