---
title: About
selectedMenuItem: about
---
<div class="inner cover">
    <h1 class="cover-heading">봄싹.BYEBYE(2014)</h1>

    <p class="lead">Adieu 2014, 봄싹 세미나에서 도커, 스프링, 자바8, 프론트엔드 &amp; 백엔드 개발 프로세스, 스위프트를 만나보세요. :)</p>
</div>