---
title: Sessions
selectedMenuItem: sessions
---
<div class="inner cover">
    <h1 class="cover-heading">Sessions</h1>
</div>
<div class="table-responsive">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>제목</th>
            <th>내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="session : ${sessions}">
            <td th:text="${session.title}">Resource Handling in Spring MVC</td>
            <td th:text="${session.content}">Spring MVC에서 정적 자원(css, js, etc)을 다루는 방법을 살펴본다.</td>
        </tr>
        <tr class="text-center" th:if="${#lists.isEmpty(sessions)}">
            <td colspan="2">등록된 주제가 없습니다.</td>
        </tr>
        </tbody>
    </table>
</div>